@model DAL.ViewModel.FamilyData;
<head>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/familyFriendsForm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>


<div class="container patient-main">
    <div class="container-fluid">
        <a class="back">
            <button onclick="@("window.location.href ='" + @Url.Action("Submit_Request","Home") + "'");" class="back-btn mt-5">
                &lt; Back
        </a>
        </button>
    </div>
    <form method="post" asp-action="FamilyFriendsForm" asp-controller="Home">
    <div class="container-fluid formpart">
        <h2 class="header-text">Family/Friend Information</h2>
        <div class="row mt-4">
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="F_FirstName">
                <label for="floatingInput" style="margin-left: 1em">Your First Name</label>
                    <span asp-validation-for="F_FirstName" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Password" asp-for="F_LastName">
                <label for="floatingInput" style="margin-left: 1em">Your Last Name</label>
                    <span asp-validation-for="F_LastName" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input id="phone" type="tel" class="form-control" style="height: 60px;" asp-for="F_Phone">
                    <span asp-validation-for="F_Phone" class="text-danger"></span>


            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="Email" class="form-control" id="floatingInput" placeholder="YourEmail" asp-for="F_Email">
                <label for="floatingInput" style="margin-left: 1em">Your Email</label>
                    <span asp-validation-for="F_Email" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Relation" asp-for="Relation">
                <label for="floatingInput" style="margin-left: 1em">Relation With Patient</label>

            </div>
        </div>

        <h2 class="same-text">Patient Information</h2>
        <div class="form-floating input-detail">
            <input type="text" class="form-control" id="floatingPassword" style="height: 100px"
                       placeholder="Enter Brief Details About Symptoms(Optional)" asp-for="Symptoms">
            <label for="floatingInput" style="width:100%">Enter Brief Details About Symptoms(Optional)</label>

        </div>
        <div class="row mt-4">
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="FirstName">
                <label for="floatingInput" style="margin-left: 1em">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingPassword" placeholder="LastName" asp-for="LastName">
                <label for="floatingInput" style="margin-left: 1em">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                    <input type="date" class="form-control" id="floatingPassword" placeholder="12/11/2023" asp-for="Birthdate">
                <label for="floatingDate" style="margin-left: 1em ">Date Of Birth</label>
                    <span asp-validation-for="Birthdate" class="text-danger"></span>

            </div>
        </div>

        <h2 class="same-text">Patient Contact Information</h2>
        <div class="row mb-4">
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="email" class="form-control" id="floatingPassword" placeholder="Email" asp-for="Email">
                <label class="t1" for="floatingEmail" style="margin-left: 1em ">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12 ">
                <input id="phone1" type="tel" class="form-control" style="height: 60px;" asp-for="Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>

            </div>
        </div>

        <h2 class="same-text">Patient Location</h2>
        <div class="row mt-4">
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingInput" placeholder="Street" asp-for="Street">
                <label for="floatingInput" style="margin-left: 1em">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingPassword" placeholder="City" asp-for="City">
                <label for="floatingInput" style="margin-left: 1em">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingPassword" placeholder="State" asp-for="State">
                <label for="floatingInput" style="margin-left: 1em">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingInput" placeholder="ZipCode" asp-for="ZipCode">
                <label for="floatingInput" style="margin-left: 1em">Zip Code</label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 col-md-6 col-sm-12">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Room" asp-for="Room">
                <label for="floatingInput" style="margin-left: 1em">Room # / Suite (Option)</label>
            </div>
        </div>
        <h2>(Optional) Upload Photo Or Document</h2>
        <div class="row">
            <div class="input-group mb-3 mt-3">
                <input id="selected-file-by-patietent" type="text" class="form-control p-2"
                       placeholder="Select File" disabled >
                <button class="btn-color-for-upload" type="button" id="upload">
                    <i class="bi bi-cloud-arrow-up mr-1"></i>
                    <span class="for-remove-upload ">Upload</span>
                </button>
                <input id="patietent-file-input" multiple class="file-input-hover-effect" type="file"
                       style="position: absolute; right: -8px;top: 0.5rem; opacity: 0;" asp-for="File">
            </div>
        </div>
        <div class="d-flex justify-content-end mt-4 mb-3">
            <button class="btn main-btn submit" type="submit">Submit</button>
                <button class="btn main-btn cancel" asp-controller="Home" asp-action="Submit_Request">cancel</button>
        </div>
    </div>
    </form>
</div>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const fileInput = document.getElementById('patietent-file-input');
    const fileNameField = document.getElementById('selected-file-by-patietent');

    // Listen for the change event on the file input element
    fileInput.addEventListener('change', (event) => {
        // Get the selected file(s)
        const files = event.target.files;

        // If one or more files are selected
        if (files.length > 0) {
            // Get the name of the first file
            const fileName = files[0].name; 

            // Update the value of the input field with the file name
            fileNameField.value = fileName;
        } else {
            // If no files are selected, clear the input field
            fileNameField.value = '';
            }
        }); 
</script>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}