@model DAL.ViewModel.CreateAccount;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutNone.cshtml";

}

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/forgotPassword.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<div >
    <img class="bgimg" src="~/SRS Screen Shorts/login-banner.png">
</div>
<form asp-action="ResetPasswordRequest" asp-controller="Home" method="post">


<div class="container-fluid h-100 mainclass">
    <a href="#"><i onclick="myFunction()" class="bi bi-moon moonclass"></i></a>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div>
                <img class="doctorimage justify-content-center align-items-center" src="~/SRS Screen Shorts/doctorlogo.png"
                     alt="">
            </div>
            <div>
                <a asp-action="Index" asp-controller="Home" class="redirect"><p class="back">&lt; <strong>Back</strong> </p></a>
                <h3 class="d-flex justify-content-center align-items-center">Reset Your Password</h3><br>
                <div class="form-floating mb-3">
                    <div class="form-floating">
                        <input type="text" class="d-flex form-control" id="floatingInput"
                               placeholder="Johndoe" asp-for="UserName">
                        <label for="floatingInput">Username</label>
                        <i class="bi bi-person-circle person"></i>
                            @if (TempData["emailnotenter"] != null)
                            {
                                <span class="text-danger fw-bold">@TempData["emailnotenter"]</span>

                                <br />
                            }
                    </div>
                </div>
                <button class="user" type="submit">Reset Password</button><br>
                <a asp-action="Patient_Login" asp-controller="Home" class="forgot d-flex justify-content-center align-items-center">&lt; <strong>Back To Login</strong> </a>
            </div>
        </div>

        <div class="d-flex justify-content-center downtext">
            <a href="#" class="terms">Terms of Condition</a>
            <p class="pipe"> | </p>
            <a href="#" class="privacy"> Privacy Policy</a>
        </div>
    </div>
</div>
</form>