<main id="roles" class="d-flex flex-wrap form-floating ">    @foreach (var item in Model.menu)
    {        <div class="form-check">
            <input type="checkbox" name="checkboxForAllRole" value="@item.MenuId" class="checkbox-input" />            <label class="ms-2">@item.Name</label>        </div>    }</main> 