@model DAL.ViewModel.ProviderVm;

@{
    Layout = "~/Views/Shared/_LayoutMainAdminDashboard.cshtml";
}

<head>
    <style>
        .form-select {
            height: 3em !important;
            width: 20em;
            color: gray !important;
            font-size: 10px;
            box-shadow: none !important;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }
    </style>
</head>
<main class="bg-light container" >
    <h4>Provider Information</h4>
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center mt-3 mb-3 me-2">
            <select class="form-select providerRegion" onchange="fetchRegion(null)" id="selectedRegion">
                <option selected class="fs-4">All Region</option>
                @foreach (var obj in Model.regions)
                {
                    <option value="@obj.RegionId" class="fs-4">@obj.Name</option>  
                }
            </select>                
            <button type="button" class="btn bg-info ms-auto">
                    <Span class=" d-none d-md-block">
                        Create Provider Account
                    </Span><i class="bi bi-plus-lg d-block d-md-none"></i>
            </button>
        </div>


        <div id="partial-change">
            <partial name="_adminProviderTable" />
        </div>


     </div>

</main>


<script>

    function fetchRegion(regionId) {
        var regionvalue = $('.providerRegion').val()
        console.log("fdsg")
        console.log(regionvalue)
        $.ajax({
            type:'POST',
            url: '@Url.Action("ProviderTable", "Admin")',
            data: { regionId: regionvalue },
            success: function (result) {
                console.log(result);
                $('#partial-change').html(result);
                // $("#selectedRegion").prop('selected', false).find('option:first').prop('selected', true);
            },
            error: function () {
                alert('Error loading partial view');
            }
        });
    }
</script>