* {
    margin: 0px;
    padding: 0px;
}

.modal-header {
    color: white;
    /* background-color: blue; */
    background-color: #01bce9;
    border: none;
    /* height: 30px; */
}


#exampleModalLabel {
    color: white;
    background-color: #01bce9;
    font-size: 17px !important;
}

.btn-close img {
    background-color: red !important;
}


#ptn_name {
    font-size: 16px !important;
    color: gray !important;
}

#testtest {
    /* font-size: 13px; */
    font-weight: 500;
    color: #01bce9;
}


/* ----------------------------------dropdown --------------------- */
.form-select:focus {
    box-shadow: none !important;
}


.form-select {
    height: 50px;
    /* margin-top: 10px; */
    font-size: 15px !important;
}



/* -----------------------------------------------textarea --------------------------------- */
.form-control:focus {
    box-shadow: none !important;
    border: 2px solid #01bce9 !important;
}

.form-control {
    margin-bottom: 10px;
}

.text_area_placeholder {
    font-size: 15px;
    color: gray;
}


/* //////////////////////////////////          butoon    ///////////////////////// */

#pop_buttons_container {
    float: right;
}

#pop_submit {
    border: none;
    background-color: #01bce9;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 7px 23px;
    font-size: 15px;
}

#pop_cancle {
    border: none;
    background-color: #01bce9;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 7px 23px;
    font-size: 15px;
}
