.doctorimage {
    margin: 0em 1em 5em 2em;
    padding: 0 2em 2em 2em;
}
.back {
    font-size :large;
    color: #2979FF;
}
.user {
    width: 100%;
    height : auto;
    border-radius: 0.3em;
    padding: 0.5em;
    background-color: #2979FF;
}

.sideimg {
    justify-content: right;
    align-items: right;
}

.forgot {
    color: #2979FF;
    margin-top: 5%;
    text-decoration: none;
}
.terms {
    margin-right : 0.5em;
}
.privacy {
    margin-left: 0.5em;
}
.downtext {
    margin-top: 12%;
}
.pipe {
    margin: 0;
    padding: 0;
}

.moonclass {
    position: fixed;
    right:1%;
    top: 1%;
    padding: 0 0.5em 0.5em 0.5em;
    background-color: white;
    border: 2px solid #2979FF ;
    border-radius: 5px;
    color: #2979FF;
}

.moonbutton {
    border-radius: 5px;

}
.person{
    position : absolute;
    right: 1em;
    top: 1em;

}
.eye {
    position: absolute;
    right: 1em;
    top : 1em;
    
}
.bgimg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position:center;
    background-size: cover;
    filter: blur(4px);
    opacity: 0.2;
}

.mainclass {
    z-index: 1;
}

.redirect {
    text-decoration: none   ;
}

.form-control:focus {
    border-color: #0DCAF0;
    box-shadow: none;
    border-radius: 5px;
}

.dark-mode {
    background-color: black;
    color: gray;
}