<div class="modal fade" id="encounterFinalize" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded-4">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Encounter Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="GeneratePDF" asp-controller="Provider">
                <div class="mx-2 py-3" >
                    <p>Encounter form is finalized successfully!</p>
                    <input type="hidden" id="requestId" name="requestId" value="@Context.Session.GetInt32("RequestId")" />
                    <div class="d-flex justify-content-center my-2">
                        <button type="submit" class="btn btn-info" style="color:white" id="continue-btn" data-bs-dismiss="modal">Download</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 
